/* recommendlecture section */
.recommendLecture {
  min-width: 1440px;
  height: 624px;
  position: relative;
}

/* 멀티캠퍼스강좌 섹션 */
.multiRecommend {
  position: relative;
}

.multiRecommendHeading {
  display: inline-block;
  width: 58%;
  height: 64px;
  margin: 0;
}

.multiRecommendHeading button {
  width: 100%;
  height: 100%;
  text-align: right;
  background: url(../images/ChevronUp.svg) no-repeat 95% 50%;
  padding-right: 7.6%;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  color: #282725;
}

.multiRecommendHeading button span {
  font-weight: 700;
  font-size: 1.6rem;
  color: #282725;
}

/* 멀티캠퍼스 강좌 종류 */
.itemList {
  list-style: none;
  display: flex;
  justify-content: center;
  line-height: 2;
  padding: 40px 40px 0;
  margin: 0;
}

.listHeading {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 700;
  color: #fffcf9;
  margin: 0;
  line-height: 1;
}

.itemList li {
  width: 590px;
  height: 424px;
  background: url(../images/html-css.png) no-repeat #282725;
  background-size: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 6px;
  margin-right: 0;
}

.itemList li:nth-child(2) {
  background: url(../images/web-design.png) no-repeat #282725;
  margin-left: 21px;
}

.itemList li p {
  margin: 0 0 30px;
  color: #fffcf9;
}

.informationButton {
  width: 113px;
  height: 36px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 2px solid #fffcf9;
  background: none;
  color: #fffcf9;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
  cursor: pointer;
}

/* 입문자 강좌 디테일 */
.lectureDetail {
  background-color: rgba(40, 39, 37, 0.95);
  position: absolute;
  width: 590px;
  height: 424px;
  padding: 35px 36px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  z-index: 10;
  border-radius: 6px;
}

.detailHeading {
  width: 262px;
  height: 28px;
  margin: 0 0 4px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #fffcf9;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: left;
}

.lectureDetail p {
  margin-bottom: 0;
  font-size: 2.1rem;
  height: 5px;
}

.detailLating {
  color: #fffcf9;
  font-size: 2.1rem;
}
.detailLating strong {
  color: rgba(255, 252, 249, 1);
}

.detailLating span {
  color: rgba(255, 252, 249, 0.4);
  margin-right: 8px;
}

.detailInformation {
  width: 518px;
  height: 218px;
  margin: 35px 0 0;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  padding-left: 5px;
  border-top: 1px solid #fffcf9;
  border-bottom: 1px solid #fffcf9;

}
.detailInformation div {
  width: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fffcf9;
}
.detailInformation dt{
  width: 76px;
  margin-right: 13px;
}

.detailInformation div:last-child {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0;
}
.detailInformation div:last-child dt{
}

.detailInformation dt,
.detailInformation dd {
  display: inline-block;
  margin: 0;
  font-size: 1.3rem;
  margin: 11px 0;
}

.close {
  width: 40px;
  height: 40px;
  padding-top: 40px;
  overflow: hidden;
  background: url(../images/Close.svg) 0 0 no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  top: 20px;
  right: 27px;
}
/* 왼쪽, 오른쪽 버튼*/
.left {
  left: 40px;
  background: url(../images/ChevronLeft.svg) no-repeat 50%;
}

.right {
  right: 40px;
  background: url(../images/ChevronRight.svg) no-repeat 50%;
}

.left,
.right {
  width: 40px;
  height: 424px;
  padding-top: 424px;
  overflow: hidden;
  border: none;
  color: #282725;

}

/* 사진 재생 버튼 */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  background: #fffcf9;
}

.pauseButton {
  padding: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -70px;
  overflow: hidden;
  background: url(../images/Pause.svg) no-repeat 50%;
  margin-left: 5px;
}

.nextButton {
  display: inline;
  width: 117px;
  height: 20px;
  margin-left: 15px;
}

.indicatorActiveButton {
  padding: 0;
  width: 38px;
  height: 14px;
  background: url(../images/indicator-active.svg) no-repeat 50%;
  margin-right: 6px;
}

.indicatorButton {
  padding: 0;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  background: url(../images/indicator.svg) no-repeat 50%;
}

.indicatorActiveButton,
.indicatorButton {
  text-indent: -200px;
  overflow: hidden;
}

.pauseButton,
.indicatorActiveButton,
.indicatorButton {
  border: none;
}

/* 이듬 러닝 강좌 종류 */
.blendedRunning {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}
.blendedRunningHeading {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 608px;
  height: 64px;
  margin: 0;
}

.blendedRunningHeading button {
  width: 100%;
  height: 100%;
  text-align: right;
  background: url(../images/ChevronDown.svg) no-repeat 464px 50% #282725;
  padding-right: 163px;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  color: #fffcf9;
}

.blendedRunningHeading span {
  font-weight: 700;
  font-size: 1.6rem;
  color: #fffcf9;
}

.blendedRunning .cover {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.itemList1 {
  list-style: none;
  display: flex;
  justify-content: center;
  line-height: 2;
  padding: 40px 40px 0;
  margin: 0;
  background: #282725;
}

.listHeading1 {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 700;
  color: #282725;
  margin: 0;
  line-height: 1;
}

.itemList1 li {
  width: 387px;
  height: 424px;
  background: url(../images/html-css.png) no-repeat #fffcf9;
  background-size: 100% 50%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column nowrap;
  border-radius: 6px;
}

.itemList1 li:nth-child(2) {
  background: url(../images/web-design.png) no-repeat #fffcf9;
  margin-left: 20px;
}

.itemList1 li:nth-child(3) {
  background: url(../images/reactPhoto.png) no-repeat #fffcf9;
  margin-left: 20px;
}
.itemList1 li p {
  margin: 0 0 30px;
  color: #282725;
}

.informationButton1 {
  width: 113px;
  height: 36px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 2px solid #282725;
  background: none;
  color: #282725;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
  cursor: pointer;
}

/* 사진재생 버튼 */
.buttons1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  background: #282725;
}

.playButton {
  padding: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -70px;
  overflow: hidden;
  background: url(../images/Play.svg) no-repeat 50%;
  margin-left: 5px;
}

.nextButton {
  display: inline;
  width: 117px;
  height: 20px;
  margin-left: 15px;
}

.indicatorActiveWhiteButton {
  padding: 0;
  width: 38px;
  height: 14px;
  background: url(../images/indicator-active-white.svg) no-repeat 50%;
  margin-right: 6px;
}

.indicatorButton {
  padding: 0;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  background: #FFFCF9 url(../images/indicator.svg) no-repeat 50%;
  border-radius: 50%;
  opacity: 0.4;
}

.indicatorActiveWhiteButton,
.indicatorButton {
  text-indent: -200px;
  overflow: hidden;
}

.playButton,
.indicatorActiveWhiteButton,
.indicatorButton {
  border: none;
}
/* 왼쪽 오른쪽 버튼 */
.left1 {
  left: 40px;
  background: url(../images/ChevronLeft1.svg) no-repeat 50%;
}

.right1 {
  right: 40px;
  background: url(../images/ChevronRight1.svg) no-repeat 50%;
}

.left1,
.right1 {
  width: 40px;
  height: 424px;
  padding-top: 424px;
  overflow: hidden;
  border: none;
}

/* multirecommend와 blenderunning 겹치기*/
.recommendLecture .cover{
  display: none;
}
.isActive .cover{
  display: block;
}
.blendedRunning{
  position: absolute;
  top: 0;
  right: 0;
}

/* 좌우 버튼 공통코드 */
.left,
.right,
.left1,
.right1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}