/* 회원가입 영역 */
/* 공통 값 영역 */
body {
  background: #fff;
}

/* IE에서 select arrow 삭제해주는 코드 */
select::-ms-expand {display:none;}

.memberForm {
  border: 1px solid #CBC5BE;
  border-radius: 3px;
  width: 742px;
  margin: 100px auto;
  padding: 286px 152px 50px 152px;
  color: #7D6F5D;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.memberFormHeadContainer {
  border-bottom: 1px solid rgba(203, 197, 190, 0.4);
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
  text-align: center;
}

.memberFormHeadline {
  margin: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 3px;
}

.memberFormText {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0;
  padding-bottom: 25px;
}

.memberFormText [lang="en"] {
  text-transform: uppercase;
}

.memberForm input::placeholder {
  font-size: 1.3rem;
  opacity: 70%;
  color: #7D6F5D;
}

/* 회원가입 이미지 데코레이션 */
.memberForm::before {
  content: "";
  display: inline-block;
  background: url(../images/Barista\ Girl.png) no-repeat 0 0 / 100% 100%;
  width: 109px;
  height: 105px;
  position: absolute;
  top: 161px;
  left: 50%;
  transform: translateX(-50%);
}

.memberForm::after {
  content: "";
  display: inline-block;
  background: url(../images/Barista\ Man.png) no-repeat 0 0 / 100% 100%;
  opacity: 30%;
  width: 135px;
  height: 392px;
  position: absolute;
  bottom: -130px;
  right: -22px;
}

/* :focus 값 설정 공통 변환 영역 */
.userEmail:focus,
.userPassword:focus,
.userPasswordCheck:focus,
.userName:focus,
.userNumber:focus,
.userNickname:focus {
  outline: 0;
  border: 1px solid #7D6F5D;
}

.userYear:focus,
.userMonth:focus,
.userDay:focus,
.userCalendar:focus {
  border: 1px solid #7D6F5D;
}

/* 버튼 영역 공통 변환 영역 */
.certificationBtn:hover,
.memberFormSubmit:hover {
  background: #282725;
}


/* 필수 항목 영역 */
/* 공통 값 영역 */
.memberList {
  position: relative;
  margin-bottom: 23px;
}

.memberList label {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

.necessaryList label::after {
  content: "";
  display: inline-block;
  background: url(../images/necessary.svg) no-repeat 0 0;
  width: 7px;
  height: 7px;
  vertical-align: top;
  margin-left: .2em;
}

.userEmail,
.userPassword,
.userPasswordCheck,
.userNumber {
  padding: 3px 0 0 9px;
  border: 0;
  border: 1px solid rgba(125, 111, 93, 0.5);
  border-radius: 3px;
  width: 438px;
  height: 34px;
  background: transparent;
  color: #7D6F5D;
  box-sizing: border-box;
}

/* 이름 영역 */
.userNameContainer {
  display: inline-block;
}

.userNameContainer label {
  width: 209px;
}

.userName {
  padding: 3px 0 0 9px;
  border: 0;
  border: 1px solid rgba(125, 111, 93, 0.5);
  border-radius: 3px;
  width: 209px;
  height: 34px;
  background: transparent;
  color: #7D6F5D;
}

/* 성별 영역 */
.userGender {
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 0;
}

.userGenderBrief {
  font-size: 1.4rem;
  color: #7D6F5D;
  font-weight: 700;
  margin: 0 0 14px 0;
}

.userGender label[for="user_female"] {
  margin-right: 30px;
  margin-left: 4px;
}

.userGender label[for="user_male"] {
  margin-left: 2px;
}

.userGenderBrief::after {
  content: "";
  display: inline-block;
  background: url(../images/necessary.svg) no-repeat 0 0;
  width: 7px;
  height: 7px;
  vertical-align: top;
  margin-left: .2em;
}

.userGender input[type="radio"] {
  opacity: 0;
  position: relative;
  z-index: 10;
  left: 1px;
}

.userGender label {
  font-weight: 400;
  display: inline-block;
}

.radioImage {
  position: absolute;
  background: url(../images/radio\ off.svg) no-repeat 0 50% / 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 53%;
}

.femaleRadio {
  left: 0px;
}

.maleRadio {
  left: 79px;
}

.radioOn + .radioImage {
  background-image: url(../images/radio\ on.svg);
}

/* 생년월일 영역 */
.userYear,
.userMonth,
.userDay,
.userCalendar {
  padding: 5px 25px 5px 7px;
  margin-bottom: 23px;
  border: 1px solid rgba(125, 111, 93, 0.5);
  border-radius: 3px;
  height: 34px;
  color: #7D6F5D;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/down\ arrow.svg) no-repeat 93% 50% / 100% 100%;
  background-size: 6px 9px;
  outline: none;
}

.userYear {
  width: 133px;
}

.userMonth,
.userDay,
.userCalendar {
  width: 66px;
}

/* 전화번호 영역 */
.userNumber::-webkit-outer-spin-button,
.userNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* 인증방식 영역 */
.memberCertification {
  width: 438px;
  border-radius: 3px;
  border: 1px solid rgba(125, 111, 93, .5);
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding-top: 123px;
  padding-bottom: 30px;
  padding-left: 0;
  position: relative;
}

.memberCertification::after {
  content: "";
  width: 204px;
  border-bottom: 1px solid rgba(125, 111, 93, .5);
  position: absolute;
  top: 50%;
  left: 25%;
  transform: rotate(90deg);
}

.memberCertification img {
  position: absolute;
}

.certificationMobile {
  margin-left: 49px;
  margin-right: 92px;
  text-align: center;
}

.certificationMobile img {
  width: 33px;
  height: 55px;
  object-fit: cover;
  top: 53px;
  left: 93px;
}

.certificationIpin img {
  width: 98px;
  height: 81px;
  object-fit: cover;
  top: 27px;
  right: 61px;
}

.certificationIpin {
  margin-right: 45px;
  text-align: center;
}

.mobileTitle,
.ipinTitle {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.mobileText,
.ipinText {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  margin: 6px 0 9px 0;
}

.mobileText {
  width: 119px;
  padding: 0 3px;
}

.ipinText {
  width: 132px;
}

.certificationBtn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  background: #7D6F5D;
  border-radius: 3px;
  padding: 8px 25px;
  color: #FFFCF9;
}

/* 선택 항목 영역 */
/* 닉네임 영역 */
.userNickname {
  padding: 3px 0 0 9px;
  border: 0;
  border: 1px solid rgba(125, 111, 93, 0.5);
  border-radius: 3px;
  width: 286px;
  height: 34px;
  background: transparent;
  color: #7D6F5D;
  box-sizing: border-box;
}

/* 개인정보 수집동의 및 이용약관 영역 */
.userGuideContainer label[for="user_guide"]{
  height: 20px;
  background: url(../images/check-circle-disable.svg) no-repeat 95% 0,
  url(../images/check-bar-disable.svg) no-repeat 99% 50%;
  transition: 300ms;
}

.is__check label[for="user_guide"] {
  background: url(../images/check-circle-enable.svg) no-repeat 100% 0,
  url(../images/check-bar-enable.svg) no-repeat 99% 50%;
}

.userGuide {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 10;
}

.textareaContainer {
  padding: 17px 11px 15px 17px;
  background: #FFFCF9;
  border: 1px solid rgba(125, 111, 93, 0.3);
  border-radius: 3px;
}

.userGuideText {
  width: 100%;
  height: 169px;
  border: none;
  padding-right: 15px;
  white-space: pre-line;
  color: #7D6F5D;
  background: #FFFCF9;
  font-family: SpoqaHanSans;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 3px;
  /* 자간이 넓어서 줄바꿈 되는 현상때문에 넣어줌 */
  letter-spacing: -0.1em;
  resize: none;
}

.userGuideText::-webkit-scrollbar {
  border-radius: 2px;
  width: 4px;
}

.userGuideText::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #7D6F5D;
}

.userGuideText::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(125, 111, 93, 0.3);
}

/* 추가 안내 텍스트 */
.memberFormText2,
.memberFormText3 {
  position: absolute;
  width: 423px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.memberFormText2 {
  top: 688px;
}

.memberFormText3 {
  bottom: 116px;
}

/* 안내 텍스트 앞 별표 표시 */
.memberFormText2::before,
.memberFormText3::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 2px;
  display: inline-block;
  background: url(../images/Star.svg) no-repeat 0 0 / 100% 100%;
}

/* 회원 가입 버튼 */
.memberFormSubmit {
  width: 100%;
  height: 46px;
  margin-top: 44px;
  border-radius: 3px;
  border: 0;
  background: #7D6F5D;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4;
  color: #FFFCF9;
  cursor: pointer;
}

