.main {
  background: url(../images/sign-in-background-coffee.jpg) no-repeat 0 0 / 100% 100%;
  min-width: 1440px;
}

.backdropContainer {
  background: url(../images/star-W-logo.svg) no-repeat 9.72222222222222% 50% / 70px 95px,
    url(../images/star-W-logo.svg) no-repeat 90.27777777777778% 50% / 70px 95px;
  height: 814px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.signIn {
  background: url(../images/Barista.png) no-repeat 98.59% 273px / 134.62px 392px,
   #FFFCF9;
  width: 742px;
  /* height: 614px; */
  border-radius: 6px;
  text-align: center;
}

.signInHeading {
  margin: 25px 0 0;
  font-size: 3.2rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #7D6F5D;
}

.signIn>p {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #7D6F5D;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(125, 111, 93, .4);
}

.signInForm fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.signInFormContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px 152px 25px;
}

.signInFormContainer label {
  color: #7D6F5D;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  align-self: flex-start;
  margin-bottom: 10px;
}

.signInFormContainer input[name="id"],
.signInFormContainer input[name="password"] {
  width: 438px;
  height: 34px;
  border: 1px solid rgba(125, 111, 93, 0.5);
  border-radius: 3px;
  padding: 9px;
}

.signInFormContainer input[name="id"] {
  margin-bottom: 20px;
}

.checkboxGroup {
  order: 1;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: start;
  width: 100%;
  height: 20px;
  color: #7D6F5D;
}

.checkboxGroup .idSaveImage {
  order: 1;
  background: url(../images/check-circle-disable.svg) no-repeat 0 0,
  url(../images/check-bar-disable.svg) no-repeat 3px 3px;
  transition: 300ms;
  display: inline-block;
  width: 40px;
  height: 20px;
  left: 0;
  top: 0;
  cursor: pointer;
}

.checkboxGroup label[for="id_save"] {
  order: 2;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 103px 0 5px;
  cursor: pointer;
}

.checkboxGroup .autoLoginImage {
  order: 3;
  background: url(../images/check-circle-disable.svg) no-repeat 0 0,
  url(../images/check-bar-disable.svg) no-repeat 3px 3px;
  transition: 300ms;
  display: inline-block;
  width: 40px;
  height: 20px;
  right: 179px;
  top: 0;
  margin: 0;
  cursor: pointer;
}

.checkboxGroup label[for="auto_login"] {
  order: 4;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 0 5px;
  cursor: pointer;
}

.checkboxGroup input[id="id_save"] {
  position: absolute;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.checkboxGroup input[id="auto_login"] {
  position: absolute;
  right: 196px;
  opacity: 0;
  cursor: pointer;
}

.idSaveEnable .checkboxGroup .idSaveImage {
  background: url(../images/check-circle-enable.svg) no-repeat 100% 0,
  url(../images/check-bar-enable.svg) no-repeat 3px 3px;
}

.autoLoginEnable .checkboxGroup .autoLoginImage {
  background: url(../images/check-circle-enable.svg) no-repeat 100% 0,
  url(../images/check-bar-enable.svg) no-repeat 3px 3px;
}

.signInFormContainer button[type="submit"] {
  width: 438px;
  height: 46px;
  border-radius: 3px;
  background: #7D6F5D;
  border: 0;
  color: #FFFCF9;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 30px 0;
  cursor: pointer;
}

.infoBox {
  padding: 0 152px;
}

.infoBox em {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: start;
  color: #7D6F5D;
  display: block;
  font-style: normal;
}

.infoBox em span:first-child {
  display: inline-block;
  transform: translateY(-2px);
}

.infoBox .whiteSpace {
  padding-left: 15px;
}

.infoBox .whiteSpace {
  margin-bottom: 6px;
}

.signIn .memberMenu {
  border-top: 1px solid rgba(125, 111, 93, .4);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6px 0 7px 0;
  margin: 30px 0 0 0;
}

.signIn .memberMenu li {
  padding: 15px 0;
  margin: 0;
  color: #7D6F5D;
  opacity: 0.7;
}

.signIn .memberMenu li a {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  padding: 0 8px;
}

.signIn .memberMenu li span {
  margin: 0 8px;
}